In [1]:
import csv
import pandas as pd
import random
from sklearn.model_selection import train_test_split

In [2]:
path = 'train_mean_features_labelled.csv'
train_data = pd.read_csv(path,header=0, index_col=0)
train_data.head()

,FS Lin 1,SS Log 1,FL1 Log 1,FL2 Log 1,FL3 Log 1,FL4 Log 1,FL5 Log 1,FS Lin 2,SS Log 2,FL1 Log 2,...,FL4 Log 7,FL5 Log 7,FS Lin 8,SS Log 8,FL1 Log 8,FL2 Log 8,FL3 Log 8,FL4 Log 8,FL5 Log 8,label
0,1.627267e-17,0.554379,0.205182,0.202277,0.589269,0.181832,0.161980,1.156057e-17,0.551979,0.355550,...,0.279709,0.275803,-1.079815e-17,0.553640,0.213654,0.211454,0.225994,0.168969,0.160188,0
1,-3.422243e-18,0.537679,0.281149,0.259472,0.492262,0.190994,0.167108,6.427953e-18,0.537351,0.331801,...,0.229569,0.281986,-5.268898e-18,0.545784,0.289002,0.264373,0.251639,0.172091,0.161918,0
2,3.360650e-17,0.581185,0.278798,0.249169,0.542159,0.179060,0.162542,1.023256e-17,0.592611,0.432686,...,0.220677,0.210012,4.248127e-18,0.590040,0.286996,0.256483,0.267841,0.199506,0.173292,0
3,-3.722168e-17,0.573792,0.241633,0.241526,0.499962,0.185286,0.177292,-1.857318e-18,0.575598,0.456296,...,0.226982,0.231452,-2.724575e-17,0.575120,0.237540,0.230018,0.246263,0.173082,0.164838,0
4,2.091354e-17,0.503988,0.303876,0.269966,0.547477,0.224098,0.170734,2.156758e-17,0.505033,0.434227,...,0.292525,0.172033,-2.218008e-17,0.504860,0.306547,0.278918,0.235462,0.213511,0.161466,1

In [3]:
xtrain = train_data.loc[:, train_data.columns != 'label']
labels = train_data.loc[:, train_data.columns == 'label']

In [4]:
xtrain.head()

,FS Lin 1,SS Log 1,FL1 Log 1,FL2 Log 1,FL3 Log 1,FL4 Log 1,FL5 Log 1,FS Lin 2,SS Log 2,FL1 Log 2,...,FL3 Log 7,FL4 Log 7,FL5 Log 7,FS Lin 8,SS Log 8,FL1 Log 8,FL2 Log 8,FL3 Log 8,FL4 Log 8,FL5 Log 8
0,1.627267e-17,0.554379,0.205182,0.202277,0.589269,0.181832,0.161980,1.156057e-17,0.551979,0.355550,...,0.585938,0.279709,0.275803,-1.079815e-17,0.553640,0.213654,0.211454,0.225994,0.168969,0.160188
1,-3.422243e-18,0.537679,0.281149,0.259472,0.492262,0.190994,0.167108,6.427953e-18,0.537351,0.331801,...,0.486981,0.229569,0.281986,-5.268898e-18,0.545784,0.289002,0.264373,0.251639,0.172091,0.161918
2,3.360650e-17,0.581185,0.278798,0.249169,0.542159,0.179060,0.162542,1.023256e-17,0.592611,0.432686,...,0.551182,0.220677,0.210012,4.248127e-18,0.590040,0.286996,0.256483,0.267841,0.199506,0.173292
3,-3.722168e-17,0.573792,0.241633,0.241526,0.499962,0.185286,0.177292,-1.857318e-18,0.575598,0.456296,...,0.504787,0.226982,0.231452,-2.724575e-17,0.575120,0.237540,0.230018,0.246263,0.173082,0.164838
4,2.091354e-17,0.503988,0.303876,0.269966,0.547477,0.224098,0.170734,2.156758e-17,0.505033,0.434227,...,0.546768,0.292525,0.172033,-2.218008e-17,0.504860,0.306547,0.278918,0.235462,0.213511,0.161466

In [5]:
labels.head()

   label
0      0
1      0
2      0
3      0
4      1

In [13]:
X_train, X_val, y_train, y_val = train_test_split(xtrain, labels, test_size=0.2, random_state=4)

In [14]:
print(X_train.shape)
X_train.head()

(143, 56)

,FS Lin 1,SS Log 1,FL1 Log 1,FL2 Log 1,FL3 Log 1,FL4 Log 1,FL5 Log 1,FS Lin 2,SS Log 2,FL1 Log 2,...,FL3 Log 7,FL4 Log 7,FL5 Log 7,FS Lin 8,SS Log 8,FL1 Log 8,FL2 Log 8,FL3 Log 8,FL4 Log 8,FL5 Log 8
16,2.534087e-17,0.556412,0.283942,0.241860,0.577746,0.193411,0.177439,-1.435915e-17,0.559773,0.388593,...,0.576445,0.267825,0.255243,1.707574e-17,0.562100,0.290201,0.262633,0.260395,0.198782,0.162600
19,1.401961e-17,0.570045,0.317314,0.283156,0.563492,0.215174,0.172887,-3.028080e-17,0.569488,0.433587,...,0.563356,0.263223,0.204533,2.513583e-17,0.574100,0.320052,0.288886,0.275419,0.200810,0.170825
2,3.360650e-17,0.581185,0.278798,0.249169,0.542159,0.179060,0.162542,1.023256e-17,0.592611,0.432686,...,0.551182,0.220677,0.210012,4.248127e-18,0.590040,0.286996,0.256483,0.267841,0.199506,0.173292
159,1.774955e-17,0.553973,0.307232,0.272000,0.524641,0.225146,0.167825,-1.405060e-17,0.554481,0.399459,...,0.525868,0.276369,0.220925,-1.659644e-17,0.554925,0.309593,0.271708,0.242754,0.221531,0.165478
135,-4.534699e-19,0.614821,0.267534,0.255186,0.521358,0.193795,0.190733,5.220628e-18,0.615009,0.443490,...,0.526022,0.212163,0.247540,-4.784227e-18,0.608335,0.264052,0.248314,0.247406,0.182666,0.178009

In [15]:
print(X_val.shape)
X_val.head()

(36, 56)

,FS Lin 1,SS Log 1,FL1 Log 1,FL2 Log 1,FL3 Log 1,FL4 Log 1,FL5 Log 1,FS Lin 2,SS Log 2,FL1 Log 2,...,FL3 Log 7,FL4 Log 7,FL5 Log 7,FS Lin 8,SS Log 8,FL1 Log 8,FL2 Log 8,FL3 Log 8,FL4 Log 8,FL5 Log 8
163,8.566120e-18,0.551454,0.241192,0.220625,0.516839,0.208294,0.155872,1.165200e-18,0.552685,0.359967,...,0.519395,0.237622,0.254569,-6.093760e-18,0.554896,0.243396,0.232923,0.214628,0.197237,0.153315
142,1.427886e-17,0.527122,0.277500,0.272824,0.545868,0.192125,0.163143,2.113693e-17,0.528486,0.409050,...,0.537398,0.250894,0.219563,-1.223252e-17,0.533594,0.291363,0.264671,0.234674,0.206413,0.166213
14,2.579255e-18,0.537403,0.267647,0.230579,0.617686,0.200086,0.167136,-1.427629e-17,0.538384,0.341642,...,0.620094,0.261141,0.266174,-1.325307e-17,0.548935,0.281059,0.253392,0.262591,0.192742,0.168619
45,-7.377681e-18,0.559337,0.219580,0.200886,0.676990,0.192669,0.169655,2.649278e-17,0.562957,0.327307,...,0.676566,0.330513,0.312139,-2.589699e-17,0.569140,0.238092,0.229897,0.250955,0.170650,0.165434
81,-2.415921e-17,0.591457,0.235514,0.212839,0.546684,0.183770,0.175548,-8.323416e-18,0.597730,0.351928,...,0.556212,0.199599,0.279996,2.250964e-18,0.588746,0.235921,0.229419,0.244172,0.181738,0.169307

In [16]:
print(y_train.shape)
y_train.head()

(143, 1)

     label
16       0
19       0
2        0
159      0
135      0

In [17]:
print(y_val.shape)
y_val.head()

(36, 1)

     label
163      0
142      0
14       0
45       0
81       0

In [18]:
y_val.groupby(['label']).size()

label
0    32
1     4
dtype: int64

In [19]:
train_data.groupby(['label']).size()

label
0    156
1     23
dtype: int64

In [20]:
X_train.to_csv('data/train/x_train.csv',header=True)
y_train.to_csv('data/train/y_train.csv',header=True)
X_val.to_csv('data/val/x_val.csv',header=True)
y_val.to_csv('data/val/y_val.csv',header=True)